<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css"/>

	<title>404</title>
</head>

<title>今日股票</title>
<body style="text-align: center">

	<div class="header">
	<div class="horizontal-center left-header ">
		{{current_time}}
	</div>
	<div class="horizontal-center market-index" style="color: #fff;font-size: 65px;width: 680px">
			TODAY&nbsp;&nbsp;&nbsp;STOCK
	</div>
	<div class="horizontal-center right-header ">
		<div class="right-header-time ">
			 <a href="/index" style="text-decoration: none;color: #ffffff">首页</a>
		</div>
		<div >
			<div class="ui small icon input " style="width: 100%;position: relative">
				<input class="prompt" value="" type="text" placeholder="搜索股票" id="stock-search" >
				<i  class="search icon" id="search" ></i>

			</div>
		</div>
	</div>

</div>
	<div class="content"></div>
	<div style="padding: 10px">
		<h1 style="color: #ffffff;font-size: 60px" id="msg" >404&nbsp;&nbsp;&nbsp;&nbsp;T . T&nbsp;&nbsp;&nbsp;&nbsp;页面跟丢了....</h1>
	</div>



	<div class="horizontal-center">
		<img id="emoji_img" >
		<div   style="width: 800px;padding: 10px">
			<p  style="font-size:18px;color: #fff;font-size: 40px">{{footer_string}}</p>
		</div>

		<a  href="https://github.com/sadjjk/StockProject"  >
			<img class="horizontal-center" src="../static/github.png" style="padding-left: 40px;">
		</a>
		<a href="https://sadjjk.github.io">
			<img class="horizontal-center" src="../static/blog.png" style="padding-left: 40px;">
		</a>
    </div>
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script>
	var msg = '{{msg}}'
    if (msg != '')
        document.getElementById('msg').innerHTML = msg;

    var random_num = Math.floor(Math.random()*3+1)
	if (random_num == 3)
		var img_path = '../static/emoji' +random_num.toString() + '.gif'
	else
		var img_path = '../static/emoji' +random_num.toString() + '.jpg'

	document.getElementById("emoji_img").src = img_path;


	var search_url = "/stock/"
    $('#stock-search').bind('keypress',function(event){
        var word = $('#stock-search').val()
        if(event.keyCode == "13" && word.length >=6  )
        {
            window.location = search_url + word;
        }
    });

    $('#search').click(function(){
        var word = $('#stock-search').val()
        if (word.length >=6)
        {
            window.location = search_url + word;
        }
    });

</script>

</body>
</html>
