<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<title>今日股票</title>
<body>

    <div class="header">
        <div class="horizontal-center left-header ">
            {{current_time}}
        </div>
        <div class="horizontal-center market-index">
                <div class="ui inverted segment" style="background-color: transparent">
                    <div class="ui inverted relaxed divided list">
                        % for item in market_index_data:
                        <div class="item">
                            %if float(item['f4']) > 0:
                            <a href="/stock/{{item['f12']}}">
                                <span class="horizontal-center red width-80 ">{{item['f1']}}</span>
                            </a>
                            <span class="horizontal-center red width-80" >{{item['f2']}}</span>
                            <span class="horizontal-center red width-80" >{{item['f3']}}%</span>
                            <span class="horizontal-center red width-80" >{{item['f4']}}</span>
                            <span class="horizontal-center red width-80" >{{item['f6']}}</span>
                            %elif float(item['f4']) == 0:
                            <a href="/stock/{{item['f12']}}">
                                <span class="horizontal-center white width-80 ">{{item['f1']}}</span>
                            </a>
                            <span class="horizontal-center white width-80" >{{item['f2']}}</span>
                            <span class="horizontal-center white width-80" >{{item['f3']}}%</span>
                            <span class="horizontal-center white width-80" >{{item['f4']}}</span>
                            <span class="horizontal-center white width-80" >{{item['f6']}}</span>
                            %else:
                            <a href="/stock/{{item['f12']}}">
                                <span class="horizontal-center green width-80 ">{{item['f1']}}</span>
                            </a>
                            <span class="horizontal-center green width-80">{{item['f2']}}</span>
                            <span class="horizontal-center green width-80" >{{item['f3']}}%</span>
                            <span class="horizontal-center green width-80" >{{item['f4']}}</span>
                            <span class="horizontal-center green width-80" >{{item['f6']}}</span>
                            %end
                            <span class="horizontal-center red width-80" >{{item['f104']}}</span>
                            <span class="horizontal-center white width-80" >{{item['f106']}}</span>
                            <span class="horizontal-center green width-80" >{{item['f105']}}</span>

                        </div>
                        %end
                    </div>
                </div>
        </div>
        <div class="horizontal-center right-header ">
            <div class="right-header-time ">
                {{current_date}}
            </div>
            <div >
                <div class="ui small icon input " style="width: 100%;position: relative">
                    <input class="prompt" value="" type="text" placeholder="搜索股票" id="stock-search"  onmouseover="eFresh();" onmouseout="sFresh();" >
                    <i  class="search icon" id="search" ></i>

                </div>
            </div>
        </div>

    </div>
    <div class="banner">
        <div class="ui stackable four column grid">
            % for index_data in top_banner_data:
            <div class="column">
                <div class="ui inverted segment">
                    <div class=""><h3>{{index_data['chinese_name']}}Top</h3></div>
                    <div class="ui inverted relaxed divided list">
                        % for item in index_data['data']:
                        <div class="item">
                            <div>

                                %if float(item['f3']) > 0:
                                <a href="/stock/{{item['f12']}}">
                                    <span class="horizontal-center red width-60">{{item['f14']}}</span>
                                </a>
                                <span class="horizontal-center red width-80">{{item[index_data['field_name']]}}{{index_data['unit_symbol']}}</span>
                                <span class="horizontal-center red width-60">{{item['f3']}}%</span>
                                %elif float(item['f3']) == 0:
                                <a href="/stock/{{item['f12']}}">
                                    <span class="horizontal-center white width-60">{{item['f14']}}</span>
                                </a>
                                <span class="horizontal-center white width-80">{{item[index_data['field_name']]}}{{index_data['unit_symbol']}}</span>
                                <span class="horizontal-center white width-60">{{item['f3']}}%</span>
                                %else:
                                <a href="/stock/{{item['f12']}}">
                                    <span class="horizontal-center green width-60">{{item['f14']}}</span>
                                </a>
                                <span class="horizontal-center green width-80">{{item[index_data['field_name']]}}{{index_data['unit_symbol']}}</span>
                                <span class="horizontal-center green width-60">{{item['f3']}}%</span>

                                %end
                            </div>
                        </div>
                        %end
                    </div>
                </div>
            </div>
            %end
        </div>
    </div>

    <div class="content">
        <div class="title">
            <span class="title-name">自选股</span>
        </div>
        <ul class="stock-list">
            % for item in my_stock_data:
            <li >
                %if float(item[4]) > 0:
                <a href="/stock/{{item[0][2:]}}">
                <span class="horizontal-center red width-60 ">{{item[1]}}</span>
                <span class="horizontal-center red width-60">{{item[2]}}</span>
                <span class="horizontal-center red width-60">{{item[4]}}%</span>
                %elif float(item[4]) == 0:
                <a href="/stock/{{item[0][2:]}}">
                <span class="horizontal-center white width-60 ">{{item[1]}}</span>
                <span class="horizontal-center white width-60">{{item[2]}}</span>
                <span class="horizontal-center white width-60">{{item[4]}}%</span>
                %else:
                <a href="/stock/{{item[0][2:]}}">
                <span class="horizontal-center green width-60 ">{{item[1]}}</span>
                <span class="horizontal-center green width-60">{{item[2]}}</span>
                <span class="horizontal-center green width-60">{{item[4]}}%</span>
                %end
                </a>

            </li>
            %end
            <div class="horizontal-center add-stock">
                <div class="ui mini  icon input  " style="width: 100%;position: relative;top: 3px;">
                    <input class="prompt" value="" type="text" placeholder="添加自选" id="add-stock" style="background-color: #000;color: #fff" onmouseover="eFresh();" onmouseout="sFresh();" >
                </div>
            </div>
        </ul>
        <div class="title">
            <span class="title-name">沪深300</span>
        </div>
        <ul class="stock-list">
            % for item in hs300_data:
            <li  >

                %if float(item[4]) > 0:
                <a href="/stock/{{item[0][2:]}}">
                <span class="horizontal-center red width-60 ">{{item[1]}}</span>
                <span class="horizontal-center red width-60">{{item[2]}}</span>
                <span class="horizontal-center red width-60">{{item[4]}}%</span>
                %elif float(item[4]) == 0:
                <a href="/stock/{{item[0][2:]}}">
                <span class="horizontal-center white width-60 ">{{item[1]}}</span>
                <span class="horizontal-center white width-60">{{item[2]}}</span>
                <span class="horizontal-center white width-60">{{item[4]}}%</span>
                %else:
                <a href="/stock/{{item[0][2:]}}">
                <span class="horizontal-center green width-60 ">{{item[1]}}</span>
                <span class="horizontal-center green width-60">{{item[2]}}</span>
                <span class="horizontal-center green width-60">{{item[4]}}%</span>
                %end
                </a>
            </li>
            %end
        </ul>
    </div>
    <footer >
    <h1 style="font-size: 50px;color: #fff">今日股票</h1>
    <p style="font-size:18px;color: #fff">{{footer_string}}</p>
    <a href="https://github.com/sadjjk/StockProject"  >
        <img class="horizontal-center" src="../static/imgs/github.png" style="padding-left: 40px;">
    </a>
    <a href="https://sadjjk.github.io">
        <img class="horizontal-center" src="../static/imgs/blog.png" style="padding-left: 40px;">
    </a>
    </footer>

    <form name=xcv>
<input type=button onClick="testtimeout()" value=启动>
<input type=button onClick="stoper()" id="stop" value=停止>
</form>

<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/add_mystock.js"></script>
<script>


    var stop = 1;
    function myrefresh()  {
        if(stop == 1 && {{trade_flag}}){
            window.location.reload();
        }
    }
    setTimeout('myrefresh()',1000 * 2); //指定刷新时间
    function eFresh(){
        stop = 0;
    }
    function sFresh(){
        stop = 1;
        setTimeout('myrefresh()',1000 * 2);
    }



</script>
</body>
</html>
