<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<title>今日Stock
</title>
<body>

    <div class="header">
        <div class="left-header fl">
            {{time}}
        </div>
        <div class="market-index">
                <div class="ui inverted segment" style="background-color: transparent">
                    <div class="ui inverted relaxed divided list">
                        % for item in index_list:
                        <div class="item">

                            <span class="banner-item-name fl">{{item['f1']}}</span>
                           <div >
                          %if float(item['f4']) > 0:
                            <span class="market-index-num fl red" >{{item['f2']}}</span>
                            <span class="market-index-num fl red" >{{item['f3']}}%</span>
                            <span class="market-index-num fl red" >{{item['f4']}}</span>
                            <span class="market-index-num fl red" >{{item['f6']}}</span>
                            %else:
                            <span class="market-index-num fl green">{{item['f2']}}</span>
                            <span class="market-index-num fl green" >{{item['f3']}}%</span>
                            <span class="market-index-num fl green" >{{item['f4']}}</span>
                            <span class="market-index-num fl green" >{{item['f6']}}</span>
                            %end
                            <span class="market-index-num fl red" >{{item['f104']}}</span>
                            <span class="market-index-num fl white" >{{item['f106']}}</span>
                            <span class="market-index-num fl green" >{{item['f105']}}</span>
                           </div>
                        </div>
                        %end
                    </div>
                </div>
        </div>
        <div class="right-header fr ">
            <div class="time ">
                {{date}}
            </div>
            <div class="ui small  input v-video-search fr" style="width: 75%">
                <input class="prompt" value="" type="text" placeholder="搜索股票" id="v-search" >

            </div>
            <i  class="search icon" id="search" style="cursor: pointer;left: 155px;padding-top: 6px;position: relative;"></i>



        </div>

    </div>
    <div class="banner">
        <div class="ui stackable four column grid">
            <div class="column">
                <div class="ui inverted segment">
                    <div class="">股价排行榜</div>
                    <div class="ui inverted relaxed divided list">
                        % for item in price_list:
                        <div class="item">
                            <div>
                                <a href="/stock/{{item['f12']}}">
                                    <span class="banner-item-name">{{item['f14']}}</span>
                                </a>
                                %if float(item['f3']) > 0:
                                <span class="market-index-num fr red">{{item['f2']}}</span>
                                <span class="market-index-num fr red">{{item['f3']}}%</span>

                                %else:
                                <span class="market-index-num fr green">{{item['f2']}}</span>
                                <span class="market-index-num fr green">{{item['f3']}}%</span>
                                %end
                            </div>
                        </div>
                        %end
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui inverted segment">
                    <div class="">振幅排行榜</div>
                    <div class="ui inverted relaxed divided list">
                        % for item in amplitude_list:
                        <div class="item">
                            <div>
                                <a href="/stock/{{item['f12']}}">
                                    <span class="banner-item-name">{{item['f14']}}</span>
                                </a>
                                %if float(item['f3']) > 0:
                                <span class="market-index-num fr red">{{item['f7']}}%</span>
                                <span class="market-index-num fr red">{{item['f3']}}%</span>

                                %else:
                                <span class="market-index-num fr green">{{item['f7']}}%</span>
                                <span class="market-index-num fr green">{{item['f3']}}%</span>
                                %end
                            </div>
                        </div>
                        %end
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui inverted segment">
                    <div class="">换手率排行榜</div>
                    <div class="ui inverted relaxed divided list">
                        % for item in turnover_rate_list:
                        <div class="item">
                            <div>
                                <a href="/stock/{{item['f12']}}">
                                    <span class="banner-item-name">{{item['f14']}}</span>
                                </a>
                                %if float(item['f3']) > 0:
                                <span class="market-index-num fr red">{{item['f8']}}%</span>
                                <span class="market-index-num fr red">{{item['f3']}}%</span>

                                %else:
                                <span class="market-index-num fr green">{{item['f8']}}%</span>
                                <span class="market-index-num fr green">{{item['f3']}}%</span>
                                %end
                            </div>
                        </div>
                        %end
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui inverted segment">
                    <div class="">成交金额排行榜</div>
                    <div class="ui inverted relaxed divided list">
                        % for item in volume_amount_list:
                        <div class="item">
                            <div>
                                <a href="/stock/{{item['f12']}}">
                                    <span class="banner-item-name">{{item['f14']}}</span>
                                </a>
                                %if float(item['f3']) > 0:

                                <span class="market-index-num fr red">{{item['f6']}}亿元</span>
                                <span class="market-index-num fr red">{{item['f3']}}%</span>
                                %else:

                                <span class="market-index-num fr green">{{item['f6']}}亿元</span>
                                <span class="market-index-num fr green">{{item['f3']}}%</span>
                                %end
                            </div>
                        </div>
                        %end
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <ul class="stock-list">
            % for item in stock_list:
            <li id="{{item[0][2:]}}" onmouseover="mouseOver({{item[0][2:]}})" data-inverted="" data-tooltip="股票代码:{{item[0][2:]}} 涨跌幅: {{item[4]}}% 成交量: {{item[5]}}手 " data-position="top center" data-variation="large" >
                <a href="/stock/{{item[0][2:]}}">
                <div class="stock-name" >
                    {{item[1]}}
                </div>

                %if float(item[4]) > 0:
                <div class="stock-price red">
                    {{item[2]}}
                </div>
                %else:
                <div class="stock-price green">
                    {{item[2]}}
                </div>
                %end
                </a>
            </li>
            %end
        </ul>
    </div>


<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    function mouseOver(id){
        $('#'+id)
        .popup({
            duration:0
        })
        .popup('show')
    }

    // 刷新
    //  setTimeout(function(){
    //      window.location.reload();
    //  }, 3000)
</script>
</body>
</html>
