.red{
    color:#f00;
}

.green{
    color:#00ff00;
}


.white{
	color: #ffffff;
}

.width-80{
	width: 80px;
}

.width-60{
	width: 60px;
}

.width-160{
	width: 160px;
}

body{
	background: #333;
}

.header,footer{
	padding: 10px 0px;
	text-align: center;
	height: 125px;
	width: 1286px;
	display: table-cell;
	vertical-align: middle;
}

.horizontal-center{
	display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
}



.right-header{
	width: 115px;
	position: relative;
}

.left-header{
    color: #fff;
    font-size: 48px;
}

.right-header-time {
    color: #fff;
    font-size: 20px;
	text-align: right;
	padding: 10px 2px;
}

.banner{
    padding: 2px 25px 5px;
    text-align: center;
}


.content{
    padding-top: 15px;
}

.stock-list {

	margin: 0;
	text-align: center;
	padding-left: 1px;
	padding-top: 5px;

}

.stock-list li {
    padding: 2px 0px;
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
    margin: 4px;
	min-height: 31px;
    text-align: center;

}

.stock-list .stock-name{
    float: left;
    font-size: 12px;
    color: #ddd;
}

.stock-list .stock-price{
    float:right;
    font-size: 13px;
}


.m-line{
	height: 480px;
	width: 100%;
	margin:0 auto ;
	padding-left: 30px;
	padding-right: 20px;
}
 .K-line {
	height: 360px;
	width: 100%;
	margin:0 auto;
 	padding: 0px 20px;
}


.title{
	width: 93%;
	line-height: 25px;
	border-bottom: solid 4px #1b1c1d;
	left: 44px;
    position: relative;
}

.title-name{
	width: 85px;
	font-size: 25px;
	background: #1b1c1d;
	color: #fff;
	padding-right: 10px;
}

.add-stock{
	width: 115px;
    height: 34px;
    position: relative;
}

#back-to-top.show {
    opacity: 1;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 40px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    opacity: 0;
    transition: opacity .2s ease-out;
    border: 1px solid #ddd;
}